.gradle/*
*/build/*
*/bin/*
*gradle/*
*.jar
*.class
*.bin
*.lock
mcinterfaceforge1122/*
mcinterfaceforge1165/*
my_own_readme.md
*gradle.*
*gradlew*
1-12-2_1-16-5_dictionnary.json
1-12-2_1-16-5_ID_transformer.py
